extends layout

block content
  div.content-aria
    ul.list-group
      li.list-group-item
         h3 cealing light
         details 
           p location: bedroom
           p controle: digital
      li.list-group-item
         h3 standing light
         details 
           p about object
      li.list-group-item
         h3 fan
         details 
           p about object
